.MuiChip-root {
   /* color: var(--primary-text-color); */
   color: var(--primary-header-color) !important;
    font-size: 16 !important;
    font-weight: 600 !important;
   /* background-color: var(--primary-header-color) ;   */
    width: 60px;
    border-radius: 6px  !important;
    height: 25px !important;
    margin-top: 2px !important;
    border: 1px solid var(--primary-header-color) !important;

}

.unit {
    font-size: 11px;
    line-height: 11px;
    margin-top: 4px;
}